<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="data.mapper.BoardMapperInter">
    <select id="getMaxNum" resultType="int">
        select ifnull(max(idx),0) max from board
    </select>

    <select id="getData" parameterType="int" resultType="BoardDto">
        select * from board where idx=#{idx}
    </select>
    <select id="getPagingList" resultType="BoardDto" parameterType="Map">
        select * from board order by idx desc limit #{start},#{perpage}
    </select>
    <select id="getTotalCount" resultType="int">
        select count(*) from board
    </select>

    <update id="updateReadcount" parameterType="int">
        update board set readcount=readcount+1 where idx=#{idx}
    </update>
    <update id="updateBoard" parameterType="BoardDto">
        update board set title=#{title},content=#{content} <if test="photo!=null">,photo=#{photo}</if> where idx=#{idx}
    </update>
    <delete id="deleteBoard" parameterType="int">
        delete from board where idx=#{idx}
    </delete>

    <insert id="insertBoard" parameterType="BoardDto">
        insert into board (nickname,myid,title,content,photo,writeday) values (#{nickname},#{myid},#{title},#{content},#{photo},now())
        <selectKey keyProperty="idx" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
</mapper>